.block-footer {
  background-image: url("../images/bg-footer.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 110px 0 70px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .block-footer {
    padding: 120px 0 80px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .block-footer {
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
  }
}
